.profilecont
{
  width: 100%;
  height: 40%;
  background: #9de1fe;
  padding-top: 120px;

}
.proflogo
{
  box-shadow: 5px 10px 8px #888888;
  width: 160px;
  height:180px;
  margin:auto;
  background: #fff;
  border: 2px solid #000;
}
.profpart2
{
  margin-top: 40px;
  margin-left: unset !important;
  margin-right: unset !important;
}
.infoparent
{
  padding:10px;

}
.activityparent
{
  padding:10px;
}
.infocont
{
  padding:5px;
  background: #fff;
  box-shadow: 5px 10px 8px #888888;

}
.activitycont
{
  padding:5px;
  background: #fff;
  box-shadow: 5px 10px 8px #888888;

}
